@model AllPrackticsUsingCore.Member
@{
    ViewData["Title"] = "Create";
}



<form asp-action="AddUser" method="post">

    <div class="form-group" id="item-list">
        <a href="#" id="add">Add</a>
        <br />
        <input type="checkbox" name="chekvalue" value="0" />

        <input type="checkbox" name="check" value="true" />
        <input type="text" name="ball[0]" />
        <input type="text" name="bat" />

        <input type="text" asp-for="Users" class="items" name="Users[0].FirstName" />
        <input type="text" asp-for="Users" class="items" name="Users[0].LastName" />

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
    <div class="form-group">
        <input type="button" value="Ajax" id="ajax" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#add").click(function (e) {
                e.preventDefault();
                var i = ($(".items").length) / 2;
                var n = '<br/>' + '        <input type="checkbox" name="chekvalue" value="'+i+'" /><input type="checkbox" name="check" value="true" /><input type="text" name="ball[' + i +']" /> <input type="text" name="bat" /><input type="text" class="items" name="users[' + i + '].FirstName" />' +
                    '<input type="text" class="items" name="users[' + i + '].LastName" />';

                $("#item-list").append(n);
            });

            $('#ajax').click(function () {
               
                var data = $('form').serialize();
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '../Courses/AddUser',
                    data: data,
                    success: function (response) {

                    }
                }); 

            });
        });

    </script>
}